
{% load load_mongo_id %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>COLOR PAPER</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">


</head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">COLORS PAPERS</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/accounts/logout">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
            {% include "left_menu.html" %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Products Data ({{data_count}})</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <form action="" method="GET">
                    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" name="q" aria-label="Search" required>
              
                <input type="submit" class="btn btn-info" value="Search"/>&nbsp;
              </form>
                <button type="submit" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">Filter</button>
              </div>
            </div>
          </div>


          <h2>Execution Process</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>ASIN</th>
                  <th>Type</th>
                  <th>Model</th>
                  <th>manufacturer</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                {% for row in results %}
                <tr>
                  <td></td>
                  <td>{{row.title}}</td>
                  <td>{{row.asin}}</td>
                  <td>{{row.type}}</td>
                  <td>{{row.model}}</td>
                  <td>{{row.manufacturer}}</td>
                  <td>
                      <a href="/data-view/{{row|private}}" target="_blank">
                          <button class="btn btn-info btn-sm">View Data</button>
                      </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  {% if previous_page %}
                  <li class="page-item"><a class="page-link" href="/products-data/?page={{previous_page}}">Previous</a></li>
                  {% endif  %}
                  <li class="page-item"><a class="page-link" href="#">{{current_page}}</a></li>
                  <li class="page-item"><a class="page-link" href="/products-data/?page={{next_page}}">Next</a></li>
                </ul>
              </nav>
          </div>
        </main>
      </div>
    </div>      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filter Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" method="get">
            <div class="modal-body">
                
                <label>Sort by Node:</label>
                <select class="form-control selectpicker" name="node_key" data-live-search="true">
                    {% for node in nodes_list %}
                    <option data-tokens="{{node}}">{{node}}</option>
                    {% endfor %}
                   
                  </select>
                  
                <br/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Search</button> -->

              <input type="submit" class="btn btn-primary" value="Search"/>
            </div>
          </form>
          </div>
        </div>
      </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    
  </body>
</html>
